<a href="https://colab.research.google.com/github/dzastin96/product-category-classifier/blob/main/notebooks/product_category_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìù Product Data Preparation
### Author: Dzastin Januzi

## üéØ Goal
The goal of this notebook is to **clean, standardize, engineer, and audit the product dataset** to ensure it is ready for analysis and modeling.  

Key objectives include:
- üè∑Ô∏è Standardizing column names for consistency  
- üìÖ Converting column types where needed (e.g., `listing_date` ‚Üí datetime, `category_label` ‚Üí category)  
- üî¢ Rounding numeric metrics to two decimals where appropriate (e.g., `number_of_views`, `merchant_rating`)  
- üßπ Identifying and removing missing values and duplicates  
- üìä Creating engineered features:
  - `days_since_listing` ‚Üí time since product listing (base for time‚Äënormalized features)  
  - `views_per_day` ‚Üí popularity normalized by time since listing  
  - `popularity_score` ‚Üí popularity adjusted by merchant quality  
- üìë Producing an audit‚Äëready summary (`info`) and preview (`head`) of the final dataset
- üíæ Saving the cleaned and enriched DataFrame to `data/final_products_data.csv` for use in the modeling notebook

## üìë Columns Description

### üü¢ Initial Columns (from raw DataFrame)

| Column             | Description                                                                 |
|--------------------|-----------------------------------------------------------------------------|
| üÜî product ID      | Unique identifier for each product (int64)                                  |
| üè∑Ô∏è Product Title   | Name/title of the product (object)                                          |
| üè™ Merchant ID     | Unique identifier for the merchant (int64)                                  |
| üìÇ Category Label  | Category under which the product is listed (object)                         |
| üî¢ _Product Code   | Internal product code (object)            |
| üëÅÔ∏è Number_of_Views | Number of times the product listing has been viewed (float64)               |
| ‚≠ê Merchant Rating | Rating score of the merchant (float64, typically 1‚Äì5 scale)                 |
| üìÖ Listing Date    | Date when the product was listed (object, raw string before conversion)     |

## üì• 1. Load Data & Preview

We begin by loading the raw product dataset and inspecting the first few rows.  
This helps verify the structure, column names, and initial data quality.

In [29]:
import pandas as pd
from IPython.display import display

# Load the CSV file into a DataFrame from data folder
df = pd.read_csv('../data/IMLP4_TASK_03-products.csv')

# Display the first 5 rows of the DataFrame
display(df.head(5).style.set_caption("FIRST 5 R0WS"))

## üîç 2. Initial Audit

The purpose of this section is to **inspect the raw dataset** before any cleaning or transformation.  
We want to understand its structure, identify missing values, and check for duplicates.

### Steps:
- üìä Display basic DataFrame information (`df.info()`)
- ‚ö†Ô∏è Count missing values per column
- üîÅ Check for duplicated rows

In [30]:
# Display the information of the DataFrame
df.info()

# Count missing values per column
df_nan_counts = df.isnull().sum().to_frame(name='Count')
display(df_nan_counts.style.set_caption("Missing Values per Column"))

# Count for duplicated products if exists
count_duplicated_rows = df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35311 entries, 0 to 35310
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product ID       35311 non-null  int64
 1   Product Title    35139 non-null  object
 2   Merchant ID      35311 non-null  int64
 3    Category Label  35267 non-null  object
 4   _Product Code    35216 non-null  object
 5   Number_of_Views  35297 non-null  float64
 6   Merchant Rating  35141 non-null  float64
 7    Listing Date    35252 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 2.2+ MB

## üßπ 3. Cleaning & Transformation

In this section we apply transformations to standardize and clean the dataset.  
The goal is to ensure consistent column naming, correct data types, and removal of invalid rows.

### Steps:
- üìù Standardize column names (lowercase, underscores, remove special characters)
- üìÖ Convert `listing_date` to proper datetime format
- üî¢ Round numeric columns (`number_of_views`, `merchant_rating`) to 2 decimals
- ‚ö†Ô∏è Remove rows with missing values
- üîÅ Remove duplicated rows

In [ ]:
# Standardize column names
df.columns = (
    df.columns
    .str.strip()                            # remove leading/trailing spaces
    .str.lower()                            # convert to lowercase
    .str.replace(r'^_', '', regex=True)     # removes underscore only at start
    .str.replace(' ', '_')                  # replace spaces with underscores
    .str.replace(r'[^\w_]', '', regex=True) # remove special characters
)

# Convert 'category_label' to categorical type
df['category_label'] = df['category_label'].astype('category')

# Convert 'listing_date' to datetime format (assuming format is 'YYYY-MM-DD')
df['listing_date'] = pd.to_datetime(df['listing_date'], errors='coerce', dayfirst=False)

# Round 'number_of_views' and 'merchant_rating' to 2 decimal places (NOT WORKING FOR DISPLAY())
# display() has own formatting settings for floats and datetime, and does not reflect changes made to the DataFrame itself. But we will use display() for better visualization in Jupyter Notebooks.
df['number_of_views'] = df['number_of_views'].round(2)
df['merchant_rating'] = df['merchant_rating'].round(2)


# Filter out rows that contain at least one missing value
rows_with_nan = df[df.isnull().any(axis=1)]

# Count the number of rows before removing missing values
rows_before = len(df)

# Remove rows with any missing values
df = df.dropna()

# Count the number of rows after removing missing values
rows_after = len(df)

## üìä 4. Statistics & Preview

In this section we summarize the results of the cleaning process and preview the cleaned dataset.  
This provides a clear before/after comparison and confirms that the dataset is ready for analysis.

In [32]:
# Print the statistics
print("\n=== Prepare Data Statistics ===")
print("\n‚úÖ Column names have been standardized.")
print("‚úÖ Convert 'category_label' to category type.")
print("‚úÖ 'listing_date' column has been converted to datetime format.")
print("‚úÖ Numeric metrics rounded to 2 decimals.")
if count_duplicated_rows > 0:
    df = df.drop_duplicates() # keep first occurrence
    print(f"‚úÖ Number of duplicated rows removed: {count_duplicated_rows}.")
else:
    print("‚ÑπÔ∏è No duplicated rows found.")

print(f"‚úÖ Number of rows before removing missing values: {rows_before}")
print(f"‚úÖ Number of rows with missing values: {len(rows_with_nan)}")
print(f"‚úÖ Number of rows after removing missing values: {rows_after}")

# Display the first 5 rows of the DataFrame
display(df.head(5).style.set_caption("FIRST 5 R0WS"))

=== Prepare Data Statistics ===

‚úÖ Column names have been standardized.
‚úÖ Convert 'category_label' to category type.
‚úÖ 'listing_date' column has been converted to datetime format.
‚úÖ Numeric metrics rounded to 2 decimals.
‚ÑπÔ∏è No duplicated rows found.
‚úÖ Number of rows before removing missing values: 35311
‚úÖ Number of rows with missing values: 551
‚úÖ Number of rows after removing missing values: 34760

## üß© 5. Feature Engineering

In this step we create new features that combine existing signals to improve model performance.  
Each feature is designed with a clear purpose and documented for transparency.

### Features:
- üìÖ **days_since_listing** 
    ‚Üí Derived from `df['listing_date']`, measures how many days have passed since product listing.
    ‚Üí Provides a time dimension that helps normalize popularity metrics and detect recency effects (new vs. old listings). 
- üìä **views_per_day** 
    ‚Üí Captures product popularity normalized by `days_since_listing` (time since listing).
    ‚Üí Prevents bias toward older listings with more accumulated views, ensuring fair comparison across products.
- ‚≠ê **popularity_score** 
    ‚Üí Adjusts product popularity by merchant quality.
    ‚Üí Balances raw popularity with seller credibility, highlighting products that are both popular and trustworthy.

In [33]:
from datetime import datetime

# Days since listing
df['days_since_listing'] = (datetime.today() - df['listing_date']).dt.days
print("‚úÖ Created 'days_since_listing' feature.")

# Views per day (popularity normalized by time). If days_since_listing is 0, we avoid division by zero by replacing it with 1.
df['views_per_day'] = (df['number_of_views'] / df['days_since_listing'].replace(0, 1)).round(2)
print("‚úÖ Created 'views_per_day' feature.")

# Popularity_score views (popularity adjusted by merchant rating)
df['popularity_score'] = (df['number_of_views'] * df['merchant_rating']).round(2)
print("‚úÖ Created 'popularity_score' feature.")

‚úÖ Created 'days_since_listing' feature.
‚úÖ Created 'views_per_day' feature.
‚úÖ Created 'popularity_score' feature.

## üìë 6. Final Data Frame

This step provides a final overview of the cleaned and feature‚Äëengineered dataset.  
It serves as a quick resume of all transformations applied and confirms readiness for modeling.

### Actions:
- üìã Display DataFrame info (column names, types, non‚Äënull counts)
- üëÄ Preview the first 5 rows of the final dataset

In [34]:
print("üìã Final DataFrame Info:")
df.info()

print("\nüëÄ Preview of Final DataFrame:")
display(df.head(5).style.set_caption("üìë FIRST 5 ROWS (Final DataFrame)"))

üìã Final DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 34760 entries, 0 to 35310
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          34760 non-null  int64
 1   product_title       34760 non-null  object
 2   merchant_id         34760 non-null  int64
 3   category_label      34760 non-null  category
 4   product_code        34760 non-null  object
 5   number_of_views     34760 non-null  float64
 6   merchant_rating     34760 non-null  float64
 7   listing_date        34760 non-null  datetime64[ns]
 8   days_since_listing  34760 non-null  int64
 9   views_per_day       34760 non-null  float64
 10  popularity_score    34760 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 3.0+ MB

üëÄ Preview of Final DataFrame:

### üìë Final Columns Description (After Cleaning & Feature Engineering)

| Column               | Description                                                                                   |
|----------------------|-----------------------------------------------------------------------------------------------|
| üÜî product_id        | Unique identifier for each product (int64)                                                    |
| üè∑Ô∏è product_title    | Name/title of the product (object)                                                            |
| üè™ merchant_id       | Unique identifier for the merchant (int64)                                                    |
| üìÇ category          | Product category (category)                                                                  | 
| üî¢ product_code      | Internal product code (object)                                                               |
| üëÅÔ∏è number_of_views  | Number of times the product listing has been viewed (float64)                                 |
| ‚≠ê merchant_rating   | Rating score of the merchant (float64, 1‚Äì5 scale)                                            |
| üìÖ listing_date      | Date when the product was listed (datetime64)                                                |
| ‚è≥ days_since_listing| Time since product listing (int64)                                                            |
| üìä views_per_day     | Average number of views per day since listing (float64)                                       |
| ‚≠ê popularity_score  | Balances popularity with seller credibility (float64)                                         |

## üíæ 7. Save Cleaned & Engineered DataFrame

We save the final version of the dataset ‚Äî fully cleaned, standardized, and enriched with engineered features ‚Äî to the `data/` folder.  
This file will be used as the input for our next notebook, where we build and train a product category classification model.

Saved file: `data/final_products_data.csv`

In [35]:
df.to_csv("../data/final_product_data.csv", index=False)
print("‚úÖ Final DataFrame saved to 'data/final_products_data.csv'")

‚úÖ Final DataFrame saved to 'data/final_products_data.csv'